html {
  font-size: 62.5%;
}

body {
  position: relative;
}

#__next {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.global-main {
  flex: 1;
}
